<!doctype html>
<html lang="en" ng-app="newTab">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>New Tab Redirect</title>
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/common.css" type="text/css">
</head>
<body>

<div ng-cloak>
    <div class="main-container" ng-controller="MainController">
        <div class="app-header">
            <span class="app-logo"><i class="fa">&nbsp;</i> {{extension_name}}</span>
            <span class="setting">
                <label>
                    <input type="checkbox" ng-model="enable_bookmarks" ng-change="save_bookmarks()">
                    <i class="fa fa-bookmark-o"></i> Show Bookmarks
                </label>
            </span>
            <span class="setting">
                <label>
                    <input type="checkbox" ng-model="enable_top" ng-change="save_top()">
                    <i class="fa fa-star-o"></i> Show Top Sites
                </label>
            </span>
            <span class="webstore"><a href="https://chrome.google.com/webstore" target="_self"><i class="fa fa-shopping-cart"></i> Chrome Web Store</a></span>
        </div>
        <div class="container bookmarks-container" ng-if="enable_bookmarks">
            <div ng-if="bookmarks.length == 0">You have no bookmarks in your bookmarks bar.</div>
            <div ng-if="bookmarks.length > 0">
                <span class="bookmark" ng-repeat="b in bookmarks"><a href="{{b.url}}" title="{{b.title}}" target="_blank">{{b.title}}</a></span>
            </div>
        </div>
        <div class="container app-container clear" ng-class="{'after-bookmarks': enable_bookmarks }">
            <chrome-app ng-repeat="app in apps" app="app"></chrome-app>
            <span class="clear"></span>
        </div>

        <div id="top-sites" ng-if="enable_top">
            <div class="top-sites-wrapper">
                <span class="top-sites-header">Top Sites</span>
                <div class="inner">
                    <div ng-repeat="site in top">
                        <a href="{{site.url}}" title="{{site.title}}" target="_blank" class="top-site-link"><i class="fa fa-external-link-square"></i> {{site.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/vendor/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="js/vendor/angular/angular-animate.min.js"></script>
<script type="text/javascript" src="js/vendor/angular/angular-touch.min.js"></script>

<script type="text/javascript" src="js/animations.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/directives.js"></script>
<script type="text/javascript" src="js/filters.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/redirect.js"></script>
</body>
</html>
